%section.col-10.mx-auto
  %p.lead.mb-2.text-center Businesses: Food and Drink
  %ul.list-group.business-list
    %li.list-group-item
      .d-inline-block.align-top
        %p.lead.mb-1
          %i.fa.fa-building.mr-2(area-hidden="true")
          %a.primary-link(href="#") Bob's Burgers
        %p.lead.mb-0.pb-2
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star-half-o.mr-2.text-star-gold
        %p.mb-0 Burgertown, NJ
      .d-inline-block.align-top
        %p Grilling up the best burgers in Burgertown since 1968. Family-owned establishment that puts the focus on the customer. Join us on Thursdays for half-off super burgers and two-for-one fries. Never greasy, always tasty. Bob's burgers.
    %li.list-group-item
      .d-inline-block.align-top
        %p.lead.mb-1
          %i.fa.fa-building.mr-2(area-hidden="true")
          %a.primary-link(href="#") Kibble Nook
        %p.lead.mb-0.pb-2
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star-half-o.mr-2.text-star-gold
        %p.mb-0 New York City, NY
      .d-inline-block.align-top
        %p Gourmet kibble for the discerning pup. Imported direct from the finest kibble factories in Europe and Asia. All fresh, all the time. Join us for the aroma of rotting fish, stay for the taste... also of rotting fish.
    %li.list-group-item
      .d-inline-block.align-top
        %p.lead.mb-1
          %i.fa.fa-building.mr-2(area-hidden="true")
          %a.primary-link(href="#") Construction Site
        %p.lead.mb-0.pb-2
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
        %p.mb-0 New York City, NY
      .d-inline-block.align-top
        %p Leftovers from nearly seven months of residential construction. Bones! Food wrappers! And more! Open every day after the last worker has gone home.