%section#home.col-10.mx-auto
  .jumbotron.bg-primary-white.mt-3
    %h1.display-4.font-pacifico.pb-3 Yalp
    %p.lead The world's premier review site.
    %hr
    %p For all of your review needs, including categories like: activities; food and drink; lodging; services; and shopping.