%section.col-10.mx-auto
  %section.profile-description.mb-3.border.rounded.bg-light.p-3
    %p.lead.mb-0
      %i.fa.fa-user-circle-o.mr-2(area-hidden="true")
      Popeye Perez
    %small.d-block.w-100.mb-2.text-secondary Member Since: 22 February 2017
    %p.mb-1 You either die a good boy, or you live long enough to see yourself become a bad dog.
  %section#user-reviews.p-3
    %p.lead.mb-0.pb-2.border.border-top-0.border-left-0.border-right-0.text-center Reviews
    %ul.review-list
      %li.border.border-top-0.border-right-0.border-left-0.py-3
        .d-inline-block
          %span.d-block.badge.category-badge.mb-2
            %a.badge-link(href="#") Food and Drink
          %p.mb-0
            %i.fa.fa-building.mr-2
            %a.primary-link(href="#") Bob's Burgers
          %small.text-secondary 18 January 2018 at 18:57 PST
          %p.lead.mb-0
            %i.fa.fa-star.mr-2.text-star-gold
            %i.fa.fa-star.mr-2.text-star-gold
            %i.fa.fa-star.mr-2.text-star-gold
            %i.fa.fa-star.mr-2.text-star-gold
        .d-inline-block.align-top
          %p One of the best burgers I have had in my life. Service was only "OK" though. And what is with these crazy kids!?
      %li.border.border-top-0.border-right-0.border-left-0.py-3
        .d-inline-block
          %span.d-block.badge.category-badge.mb-2
            %a.badge-link(href="#") Shopping
          %p.mb-0
            %i.fa.fa-building.mr-2
            %a.primary-link(href="#") Kibble Town
          %small.text-secondary 12 January 2018 at 19:12 PST
          %p.lead.mb-0
            %i.fa.fa-star.mr-2.text-star-gold
            %i.fa.fa-star.mr-2.text-star-gold
            %i.fa.fa-star.mr-2.text-star-gold
            %i.fa.fa-star.mr-2.text-star-gold
            %i.fa.fa-star.mr-2.text-star-gold
        .d-inline-block.align-top
          %p Literally the most important store on earth. Check it.
      %li.border.border-top-0.border-right-0.border-left-0.py-3
        .d-inline-block
          %span.d-block.badge.category-badge.mb-2
            %a.badge-link(href="#") Shopping
          %p.mb-0
            %i.fa.fa-building.mr-2
            %a.primary-link(href="#") Human Food
          %small.text-secondary 5 November 2017 at 10:33 PST
          %p.lead.mb-0
            %i.fa.fa-star.mr-2.text-star-gold
        .d-inline-block.align-top
          %p Couldn't tell you. They refused to serve me. Jerks.