%section.col-10.mx-auto
  %p.lead.mb-2.text-center Reviews: Food and Drink
  %ul.list-group.review-list
    %li.list-group-item
      .d-inline-block
        %p.lead.mb-0
          %i.fa.fa-building.mr-2
          %a.primary-link(href="#") Bob's Burgers
        %small.w-100.d-inline-block
          Reviewer:
          %a.primary-link.ml-1(href="#") Popeye Perez
        %small.w-100.d-inline-block.text-secondary
          18 January 2018 at 18:57 PST
        %p.lead.mb-0
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
      .d-inline-block.align-top
        %p One of the best burgers I have had in my life. Service was only "OK" though. And what is with these crazy kids!?
    %li.list-group-item
      .d-inline-block
        %p.lead.mb-0
          %i.fa.fa-building.mr-2
          %a.primary-link(href="#") Construction Site
        %small.w-100.d-inline-block
          Reviewer:
          %a.primary-link.ml-1(href="#") Popeye Perez
        %small.w-100.d-inline-block.text-secondary
          12 January 2018 at 12:15 PST
        %p.lead.mb-0
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
      .d-inline-block.align-top
        %p Why don't people give this place higher reviews? Construction Site is THE BEST leftover bones in town. If you have any connection at all with your rights, COME HERE.
    %li.list-group-item
      .d-inline-block
        %p.lead.mb-0
          %i.fa.fa-building.mr-2
          %a.primary-link(href="#") Bob's Burgers
        %small.w-100.d-inline-block
          Reviewer:
          %a.primary-link.ml-1(href="#") Olive Oil
        %small.w-100.d-inline-block.text-secondary
          1 January 2018 at 13:21 PST
        %p.lead.mb-0
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
      .d-inline-block.align-top
        %p OK, this is without question the best burger place in the state. You MUST come here. Don't wait. Come now.
    %li.list-group-item
      .d-inline-block
        %p.lead.mb-0
          %i.fa.fa-building.mr-2
          %a.primary-link(href="#") Kibble Town
        %small.w-100.d-inline-block
          Reviewer:
          %a.primary-link.ml-1(href="#") Popeye Perez
        %small.w-100.d-inline-block.text-secondary
          17 December 2017 at 12:36 PST
        %p.lead.mb-0
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
          %i.fa.fa-star.mr-2.text-star-gold
      .d-inline-block.align-top
        %p I absolutely love the stench of rotten fish. This place is better than people give it credit for.
    %li.list-group-item
      .d-inline-block
        %p.lead.mb-0
          %i.fa.fa-building.mr-2
          %a.primary-link(href="#") Bob's Burgers
        %small.w-100.d-inline-block
          Reviewer:
          %a.primary-link.ml-1(href="#") Thomas Paine
        %small.w-100.d-inline-block.text-secondary
          7 December 2017 at 12:36 PST
        %p.lead.mb-0
          %i.fa.fa-star.mr-2.text-star-gold
      .d-inline-block.align-top
        %p My god. You call this food?
        