// COMPONENTS - SASS

// Backgrounds
.bg-primary-red
  background-color: $primary-red
.bg-secondary-red
  background-color: $secondary-red
.bg-primary-gray
  background-color: $primary-gray
.bg-secondary-gray
  background-color: $secondary-gray

// Text
.text-primary-white
  color: $primary-white

// Buttons
.white-outline-btn
  color: $primary-white
  border-color: $primary-white
  background-color: transparent
  &:hover
    color: $primary-white
    background-color: $secondary-red